  <div class="container">
    <div class="row">
      <div class="col">
        <div>
          <h4><b>本当に退会しますか？</b></h4>
        </div>

        <div>
          <p>
            退会すると、会員登録情報が失われ、<br/>
            コメント投稿やいいねができなくなります。<br/>
            退会する場合は、「退会する」をクリックしてください。
          </p>
        </div>

        <div>
          <p><%= link_to "退会しない", user_path(@user),class:"btn btn-primary" %></p>
          <p><%= link_to "退会する",  user_registration_path, method: :delete,class:"btn btn-danger" %></p>
        </div>
      </div>
    </div>
  </div>
