<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">ABOUT</h2>
            <div class="list">
                <div class="list-item">
                    　<%= image_tag asset_path('inaho.jpg'), class:"image" %>
                    <div class="text">
                      <p>知らない銘柄を知ろう</p>
                    </div>
                </div>
                <div class="list-item">
                    　<%= image_tag asset_path('kome.jpg'), class:"image" %>
                    <div class="text">
                      <p>好きな銘柄をレビューをしよう</p>
                    </div>
                </div>
                <div class="list-item">
                    　<%= image_tag asset_path('gohan.jpg'), class:"image" %>
                    <div class="text">
                      <p>気になる銘柄を見つけよう</p>
                    </div>
                </div>
            </div>
            <div class="heading-text">
              <h5>URUKASUの想い</h5>
                <p>いつも同じ銘柄のお米ばかり食べていませんか？</br>
                日本には、<b>約９００種類</b>の銘柄が登録されています。</br>
                柔らかいお米、冷めても美味しいお米、甘いお米等、銘柄の数だけ特徴があります。</br>
                </br>
                知らないだけで生活や、味のお好み、料理に合わせたお米がまだあるかもしれません。</br>
                例えば、離乳食や介護職を作られる家庭では、柔らかいお米の方が良いかもしれません。</br>
                地域ごとの個性の詰まった銘柄を知って、お米ライフを充実させよう。</br>
                </p>
            </div>
        </div>
    </div>
</section>