/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Zen Maru Gothic', sans-serif;
}

// ヘッダー
 // ロゴ
.navbar-brand{
 padding: 10px 0px 10px 0px ;

  img{
  height: 100px;
  width: 100px;
  border-radius: 100%;
 }
}

.search-form{
   display: flex; /* 子要素をflexboxで揃える */
   flex-direction: column;
   justify-content: end;
   align-items: end;
   padding-top: 20px;
}

 // リンク
.nav-item{
 padding: 10px;
  a:hover {
 	background-color: #fca45c;
 }
}


// フッター
footer{
 width: 100% ;
 height: 100px ;
}

h3{
  padding: 20px;
  background-color: #FCF8E8;
  border-left: 6px solid #DF7861;
}

 @media (max-width:1200px) {
   .container{
   display: flex; /* 子要素をflexboxで揃える */
   flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
   justify-content: center; /* 子要素をflexboxにより中央に配置する */
   align-items: center;  /* 子要素をflexboxにより中央に配置する */
  }
 }